html { scroll-behavior: smooth;}

/* header */

header{
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-around;
    display: flex;
    padding: 30px 10px;
    align-items: center;
}

.header-right{
    align-items: center;
}

.menu{
    margin-left: 15px;
}

/* key visual in header */

.kv{
    align-items: center;
}

.changekv{
    position: relative;
    width : 750px;
    height : 550px;
    margin: 50px auto;
}

.changekv img{
    position: absolute;
    top: 0;
    left: 0;
    animation: changekv 8s infinite;
    opacity: 0;
}

@keyframes changekv{
    0%{ opacity: 0;}
    10%{ opacity: 1;}
    20%{ opacity: 1;}
    30%{ opacity: 0;}
    100%{ opacity: 0;}
}

.changekv img:nth-of-type(1) {
     animation-delay: 0s;
}
.changekv img:nth-of-type(2) {
   animation-delay: 2s;
}
.changekv img:nth-of-type(3) {
    animation-delay: 4s;
}
.changekv img:nth-of-type(4) {
    animation-delay: 6s;
}

/* about */

.about1{
    display: flex;
    margin: 20px;
    align-items: center;
}

h1::first-letter{
    font-size: 2em;
    color: mediumaquamarine;
}

.ash{
    width: 340px;
    height: 240px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 30px;
    font-size: 25px;
    padding: 20px;
}

p.text{
    margin-left: 20px;
}

/* songs */

.songs1{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.container{
    flex-direction: column;
    align-items: center;
}

.pic{
    width: 150px;
    height: 150px;
}

/* link tag */

a {
    transition: color 0.3s;
    font-weight: bold;
  }
  
a:hover{
    color : mediumaquamarine;
  }


  /* responsive */

  @media screen and (max-width: 767px) {

    header{
        font-family: 'Courier New', Courier, monospace;
        /* padding: 30px 10px; */
        /* align-items: center; */
        flex-direction: column;
        /* position: relative; */
        display: block;
        width: 100%;
        height: auto;
    }
   
    .header-left{
        display: block;
        /* position:absolute; top:20px; left:150px; */
    }

    ul{
        margin: 30px 20px;
    }

    .header-right{
        flex-direction: column;
    }

    .changekv{
        max-width: 80%;
        align-items: center;
        height: 200px;
    }


    .h1{
        margin: 0 auto;
    }

    .ash{
        width: 80vh;
        height: auto;
    }

    .about1{
        display: block;
    }

    p.text{
        margin: 10px auto;
        text-align: center;
        font-size: 14px;
    }


/* songs */

    .songs1{
        display: block;
        margin-block: auto;
    }

    /* リンクタグの点消し */


/* songs pic */

 
    .songs1 { /* リスト全体のスタイル */
      display: flex;
      margin: auto;
      overflow-x: auto;
      justify-content: start;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
    }
     
    .songs1 li { /* 各リストのスタイル */
      width: 45%;
      padding: 8px;
      margin: 3px;
      flex-shrink: 0;
      list-style: none;
    }
     
    .songs1 img { /* 画像のスタイル */
      width: 100%;
      max-height: 200px;
      object-fit: cover;
    }
     
    .songs1::-webkit-scrollbar {
      height: 12px; /* スクロールバーの高さ */
    }
     
    .songs1::-webkit-scrollbar-thumb {
      background: mediumaquamarine; /* ツマミの色 */
      border-radius: 6px; /* ツマミ両端の丸み */
    }
     
    .songs1::-webkit-scrollbar-track {
      background: #ddd; /* トラックの色 */
      border-radius: 6px; /* トラック両端の丸み */
    }


}